@import "_variables.scss";

// sing-in

.sign-in-container {
    background-color: var(--surface-100);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px;
    border-radius: 24px;
    border: 1px solid var(--surface-300);
    background-color: var(--surface-100);
    box-shadow: 24px 24px 96px 0px var(--surface-200);

    img {
        width: 200px;
    }

    .form-title {
        width: 100%;
        text-align: right;
        border-bottom: 2px solid var(--surface-300);
        padding-bottom: 16px;
        font-size: 20px;
        font-weight: 400;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;

        .form-building {
            label {
                width: 100%;
                display: block;
                text-align: right;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                color: var(--surface-500);
                margin-bottom: 12px;
            }

            input {
                width: 100%;
                padding: 12px;
                border-radius: 12px;
                border: 1px solid var(--surface-400);
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;

                &:focus {
                    border-color: var(--primary-500);
                }
            }

        }

        .icon {
            left: 0;
            top: 0;
            transform: translateY(50%) translateX(50%);
        }

        .text-button {
            border-radius: 16px;
            padding: 16px 24px;
            font-size: 20px;
            font-weight: 400;
            background-color: var(--primary-500);
            color: var(--ui-gray-1000);
            box-shadow: 0px 0px 24px 0px var(--primary-300);

            &:hover {
                background-color: var(--primary-600);
            }

            &.invalid {
                background-color: var(--primary-200);
                color: var(--primary-300);
                box-shadow: 0px 0px 24px 0px #0336993D;

                &:hover {
                    background-color: var(--primary-200);
                }
            }
        }
    }
}

// layout

.dashboard {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--surface-100);
    display: flex;
    flex-direction: column;

    main {
        width: 100vw;
        min-height: 100%;
        display: flex;
        flex-direction: row-reverse;
        flex: 1;
    }
}

.navbar {
    width: 100vw;
    padding: 24px 48px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--surface-300);

    .controls {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
        gap: 24px;

        .input-container {
            input {
                width: 512px;
                padding: 16px;
                border-radius: 20px;
                border: 1px solid var(--surface-300);
                background: linear-gradient(200.68deg, var(--surface-100) 0%, var(--surface-200) 82.07%);
                padding-right: 16px + 8px + 24px;
            }

            .icon {
                right: 0;
                top: 0;
                transform: translateY(60%) translateX(-50%);
            }
        }
    }

    .switch-container {
        display: flex;
        gap: 4px;
        border-radius: 20px;
        border: 1px solid var(--surface-300);
        padding: 6px;
        background: linear-gradient(204.51deg, var(--surface-100) 0%, var(--surface-200) 84.34%);

        .switch-item {
            padding: 10px;
            border-radius: 16px;
            display: flex;

            &.selected {
                background-color: var(--primary-500);
            }

            input {
                display: none;
            }


            button {
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
        }
    }
}

.sidebar {
    width: 480px;
    min-height: 100%;
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-left: 2px solid var(--surface-300);

    .sidebar-item {
        cursor: pointer;
        padding: 20px 16px;
        border-radius: 20px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: end;
        align-items: center;
        gap: 12px;
        color: var(--surface-500);
        border: 1px solid var(--surface-100);

        &.selected {
            color: var(--primary-500);
            background: linear-gradient(201.1deg, var(--surface-100) 0%, var(--surface-300) 86.08%);
            border: 1px solid var(--surface-300);
        }

        &:hover {
            background: linear-gradient(201.1deg, var(--surface-100) 0%, var(--surface-300) 86.08%);
            border: 1px solid var(--surface-300);
        }

        img {
            width: 24px;
            height: 24px;
        }

        &.logout {
            color: var(--ui-red-500);
        }
    }

    .divider {
        height: 2px;
        width: 100%;
        background-color: var(--surface-300);
    }
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 48px;

    .content-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

// datatable
.datatable {
    border: 0.5px solid var(--surface-300);
    border-radius: 16px;
    overflow: hidden;

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        border: 0.5px solid var(--surface-300);
        text-align: center;
    }

    th {
        padding: 6px 0;
        font-size: 12px;
        font-weight: 400;
        color: var(--surface-500);
        width: 18%;
        cursor: pointer;

        &:first-of-type {
            width: 10%;
        }
    }

    td {
        padding: 26px 6px;
        font-size: 14px;
        font-weight: 400;
    }

    tr:nth-child(even) {
        background-color: var(--surface-200);
    }

    tbody {
        tr {
            cursor: pointer;

            &:hover {
                background-color: var(--surface-400);
            }
        }
    }
}

// datatable pagination

.pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;

    button {
        padding: 8px 16px;
        border: none;
        cursor: pointer;
        background-color: var(--surface-300);
        border-radius: 4px;

        &:hover {
            background-color: var(--surface-400);
        }

        &.active {
            background-color: var(--primary-500);
            color: var(--ui-gray-1000);
        }

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}

// content header
.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;

    .breadcrumbs {

        &,
        div {
            display: flex;
            gap: 4px;
            flex-direction: row-reverse;
            align-items: center;
        }

        img {
            width: 24px;
            height: 24px;
        }
    }

    button {
        border-radius: 16px;
        padding: 16px 24px;
        font-size: 20px;
        font-weight: 400;
        background-color: var(--primary-500);
        color: var(--ui-gray-1000);

        &:hover {
            background-color: var(--primary-600);
        }
    }
}

// add user form
.add-user,
.edit-user {
    background-color: var(--surface-100);
    width: 540px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    border-radius: 24px;
    border: 1px solid var(--surface-300);
    box-shadow: 24px 24px 96px 0px var(--surface-200);

    header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: end;
        gap: 10px;
        font-size: 24px;
        border-bottom: 2px solid var(--surface-300);
        padding-bottom: 16px;

        button {
            display: flex;
            align-items: center;

            &:hover {
                color: var(--ui-red-500);
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;

        .avatar-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .avatar {
                width: 120px;
                height: 120px;
                border-radius: 100%;
                border: 2px solid var(--primary-500);
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100px;
                    height: 100px;
                }
            }
        }

        .form-frame {
            display: flex;
            justify-content: space-between;
            gap: 28px;
        }

        .form-building {
            width: 100%;

            label {
                width: 100%;
                display: block;
                text-align: right;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                color: var(--surface-500);
                margin-bottom: 12px;
            }

            input {
                width: 100%;
                padding: 12px;
                border-radius: 12px;
                border: 1px solid var(--surface-400);
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;

                &:focus {
                    border-color: var(--primary-500);
                }
            }

            &.invalid {
                label {
                    color: var(--ui-red-500);
                }

                input {
                    border-color: var(--ui-red-500);
                }
            }
        }

        .controls {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 16px;

            button {
                border-radius: 16px;
                padding: 16px 24px;
                font-size: 20px;
                font-weight: 400;
                width: 100%;
                text-align: center;

                &.confirm {
                    background-color: var(--primary-500);
                    color: var(--ui-gray-1000);
                    box-shadow: 0px 0px 24px 0px #033699;

                    &:hover {
                        background-color: var(--primary-600);
                    }
                }

                &.cancel {
                    border: 1px solid var(--primary-500);
                    color: var(--primary-500);

                    &:hover {
                        background-color: var(--surface-200);
                    }
                }

                &.delete     {
                    color: var(--ui-gray-1000);
                    background-color: var(--ui-red-500);

                    &:hover {
                        background-color: var(--ui-red-600);
                    }
                }
            }
        }
    }
}