@import "_variables.scss";

@font-face {
    font-family: 'iran yekan';
    src: url('assets/fonts/IRANYekanMobileThin.woff2') format('woff2');
    font-weight: 100;
}

@font-face {
    font-family: 'iran yekan';
    src: url('assets/fonts/IRANYekanMobileLight.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'iran yekan';
    src: url('assets/fonts/IRANYekanMobileRegular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'iran yekan';
    src: url('assets/fonts/IRANYekanMobileMedium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'iran yekan';
    src: url('assets/fonts/IRANYekanMobileBold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'iran yekan';
    src: url('assets/fonts/IRANYekanMobileExtraBold.woff2') format('woff2');
    font-weight: 800;
}

:root {
    // surface
    --surface-100: #020B1F;
    --surface-200: #0C132C;
    --surface-300: #182040;
    --surface-400: #2F3756;
    --surface-500: #7E848E;
    --surface-900: #FBFDFE;
    // primary
    --primary-200: #022467;
    --primary-300: #033699;
    --primary-500: #0559FD;
    --primary-600: #1E69FD;
    // ui
    --ui-red-500: #FF3231;
    --ui-red-600: #FF4645;
    --ui-gray-1000: #fff;
}

.light-theme {
    // surface
    --surface-100: #FBFDFE;
    --surface-200: #F3F8FC;
    --surface-300: #DCE9FC;
    --surface-400: #C4D4EC;
    --surface-500: #7E848E;
    --surface-900: #020B1F;
    // primary
    --primary-200: #ABC8FD;
    --primary-300: #74A3FD;
    --primary-500: #0559FD;
    --primary-600: #0551E7;
    // ui
    --ui-red-500: #FF3231;
    --ui-red-600: #E62E2F;
    --ui-gray-1000: #000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--surface-900);
    font-family: 'iran yekan', Arial, Helvetica, sans-serif;
}

@mixin reset-shared {
    background-color: inherit;
    color: inherit;
    font: inherit;
    border: none;
}

button {
    @include reset-shared;
    cursor: pointer;
}

.input-container {
    position: relative;

    button {
        position: absolute;
        display: flex;
    }

    img {
        width: 24px;
        height: 24px;
    }
}

input {
    @include reset-shared;

    &:focus {
        outline: none;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.modal-container {
    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(4px);
        opacity: 1;
        z-index: 999;
    }

    .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
    }
}

.center-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}