$form-background: #020B1F;
// surface
$surface-100: #020B1F;
$surface-300: #182040;
$surface-400: #2F3756;
$surface-500: #7E848E;
$surface-900: #FBFDFE;

// primary
$primary-200: #022467;
$primary-300: #033699;
$primary-500: #0559FD;
$primary-600: #1E69FD;